<template>
  <span>
    <list-data ref="refresh_list" :url="url" :headers="headers">
      <div
        slot="list_header"
        style="display: flex; flex-direction: row; justify-content: space-between"
      >
        <h4 class="caption-subject bold uppercase">
          <i class="fa fa-list-ol font-dark"></i> Category List
        </h4>
        <button class="btn btn-primary" @click="$refs.category_form.setAddForm()">Add Cateory</button>
      </div>
      <template slot="table_data" slot-scope="{ data }">
        <td>{{ data.title }}</td>
        <td>{{ data.description }}</td>
        <td>
          <i
            data-toggle="modal"
            data-target="#modal_id"
            @click="$refs.category_form.editIt(data)"
            style="cursor: pointer"
            class="fa fa-pencil"
          ></i>&nbsp; &nbsp;
          <i style="cursor: pointer" @click="deleteIt(data.id)" class="fa fa-trash"></i>
        </td>
      </template>
    </list-data>
    <category-form
      ref="category_form"
      @dataSaved="$refs.refresh_list.perPgeQuery(url)"
      @dataUpdated="$refs.refresh_list.perPgeQuery(url)"
    ></category-form>
  </span>
</template>
<script>
import CategoryForm from "./CategoryForm";
export default {
  components: {
    CategoryForm
  },
  name: "category_list",
  data() {
    return {
      url: "category_list",
      headers: [
        { title: "Name", name: "title", sort: true },
        { title: "Desc.", name: "description", sort: true },
        { title: "Action", name: "", sort: false }
      ]
    };
  },
  methods: {
    deleteIt(id) {
      this.delete(`/category/${id}`);
    }
  }
};
</script>
