<template>
  <category-modal
    @title="data => formData.title = data"
    @description="data => formData.description = data"
    @closeModal="isOpen=false"
    @saveData="onSubmit"
    @updateData="onSubmitUpdate(formData.id)"
    :onUpdate="formData"
    :modalFor="modalFor"
    :isOpen="isOpen"
  />
  <!-- <modal :isOpen="isOpen" @closeModal="isOpen = false">
        <template slot="modal_header">
            <h5 class="modal-title">
                {{ modalFor ? "Update" : "Add New" }} Category
            </h5>
        </template>
        <template slot="modal_body">
            <app-input
                placeholder="Name"
                labelFor="add_category"
                inputId="add_category"
                :innerDivClass="errors.title ? 'has-error' : ''"
                v-model="formData.title"
            >
                <slot slot="label">
                    Category Name
                    <span style="color: red">*</span>
                </slot>
            </app-input>
            <app-input
                placeholder="Description..."
                controlType="textarea"
                labelFor="note"
                inputId="note"
                v-model="formData.description"
            >
                <slot slot="label">Description</slot>
            </app-input>
        </template>
        <template slot="modal_footer">
            <close-modal-button @click="isOpen = false"
                >Close</close-modal-button
            >
            <app-submit-button
                id="add_button"
                @click="modalFor ? onSubmitUpdate(formData.id) : onSubmit()"
                :disabled="!formData.title"
                :style="
                    !formData.title ? 'cursor: not-allowed' : 'cursor: pointer'
                "
                >{{ modalFor ? "Update" : "Save" }}</app-submit-button
            >
        </template>
  </modal>-->
</template>
<script>
import { category } from "./category";
export default {
  mixins: [category]
};
</script>
