<template>
    <span>
        <button v-if="!$root.buttonDisable" type="button" class="btn btn-success"
            v-bind="$attrs"
            v-on="$listeners">
            <slot/>
        </button>
        <button v-if="$root.buttonDisable" type="button" class="btn btn-success" disabled>
            <i class="fa fa-spinner fa-spin"></i>
            <span>Loading</span>
        </button>
    </span>
</template>
