<template>
    <span>
        <!-- nav bar imported here -->
        <Nav />
        <br />
        <br />
        <!-- load vue router -->
        <router-view></router-view>
    </span>
</template>
<script>
import Nav from "./Navbar";
export default {
    components: {
        Nav
    }
};
</script>
