<template>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>

        <div>
          <ul class="navbar-nav mr-auto">
            <router-link to="/" tag="li" class="nav-item" active-class="active" exact>
              <a class="nav-link">Categories</a>
            </router-link>

            <router-link to="/posts" tag="li" class="nav-item" active-class="active" exact>
              <a class="nav-link">Posts</a>
            </router-link>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>
