<template>
  <modal :isOpen="isOpen" :fullScreen="true" :zIndex="1000" @closeModal="isOpen = false">
    <template slot="modal_header">
      <h5 class="modal-title">{{ modalFor ? "Update" : "Add New" }} Post</h5>
    </template>
    <template slot="modal_body">
      <label for="selectCategory">Categories</label>
      <Multiselect
        id="selectCategory"
        v-model="categories_id"
        :options="options"
        @openCategoryModal="setCategoryModal"
        label="title"
        track-by="id"
        multiple
      ></Multiselect>
      <br />
      <app-input
        placeholder=" Lorem ipsum is a placeholder text..."
        controlType="textarea"
        :tex_area_rows="7"
        labelFor="post"
        inputId="post"
        v-model="formData.post_details"
      >
        <slot slot="label">Write Post</slot>
      </app-input>

      <category-modal
        @title="data => (categoryForm.title = data)"
        @description="data => (categoryForm.description = data)"
        @closeModal="isOpenCategoryModal = false"
        @saveData="saveNewCategory"
        :onUpdate="categoryForm"
        :isOpen="isOpenCategoryModal"
      />
    </template>
    <template slot="modal_footer">
      <close-modal-button @click="isOpen = false">Close</close-modal-button>
      <app-submit-button
        id="add_button"
        @click="modalFor ? onSubmitUpdate(formData.id) : onSubmit()"
        :disabled="!formData.categories_id && !formData.post_details"
        :style="
                    !formData.categories_id && !formData.post_details ? 'cursor: not-allowed' : 'cursor: pointer'
                "
      >{{ modalFor ? "Update" : "Save" }}</app-submit-button>
    </template>
  </modal>
</template>
<script>
import { post } from "./post";
import "vue-multiselect/dist/vue-multiselect.min.css";
import Multiselect from "../../components/Multiselect/Multiselect.vue";
export default {
  mixins: [post],
  components: {
    Multiselect
  }
};
</script>
