<template>
  <span>
    <list-data ref="refresh_list" :url="url" :headers="headers">
      <div
        slot="list_header"
        style="display: flex; flex-direction: row; justify-content: space-between"
      >
        <h4 class="caption-subject bold uppercase">
          <i class="fa fa-list-ol font-dark"></i> Post List
        </h4>
        <button
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#modal_id"
          @click="$refs.post_form.setAddForm()"
        >Add New Post</button>
      </div>
      <template slot="table_data" slot-scope="{ data }">
        <td>{{data.id}}</td>
        <td>{{getOnlyCategoriesName(data.for_multiselect)}}</td>
        <td>{{ data.post_details }}</td>
        <td>
          <i
            data-toggle="modal"
            data-target="#modal_id"
            @click="$refs.post_form.editIt(data)"
            style="cursor: pointer"
            class="fa fa-pencil"
          ></i>&nbsp; &nbsp;
          <i style="cursor: pointer" @click="deleteIt(data.id)" class="fa fa-trash"></i>
        </td>
      </template>
    </list-data>
    <post-form
      ref="post_form"
      @dataSaved="$refs.refresh_list.perPgeQuery(url)"
      @dataUpdated="$refs.refresh_list.perPgeQuery(url)"
    ></post-form>
  </span>
</template>
<script>
import postForm from "./postForm";
export default {
  components: {
    postForm
  },
  name: "post_list",
  data() {
    return {
      url: "post_list",
      headers: [
        { title: "ID", name: "id", sort: true },
        { title: "Categories name", name: "", sort: false },
        { title: "Post.", name: "post_details", sort: true },
        { title: "Action", name: "", sort: false }
      ]
    };
  },
  methods: {
    getOnlyCategoriesName(categories) {
      if (typeof categories == "object") {
        let arrayLength = categories.length - 1;
        let names = "";
        let x = 0;
        categories.forEach(category => {
          x++;
          if (x > arrayLength) {
            names = names + category.title;
          } else {
            names = names + category.title + ", ";
          }
        });
        return names;
      }
    },
    deleteIt(id) {
      this.delete(`/post_route/${id}`);
    }
  }
};
</script>
