<template>
  <div :class="divClass">
    <div class="form-group" :class="innerDivClass">
      <label v-if="useLabel" :for="labelFor">
        <slot name="label"></slot>
      </label>
      <input
        class="form-control"
        v-if="controlType === 'input'"
        v-bind="$attrs"
        v-on="{...$listeners,input: event => $emit('input', event.target.value)}"
        :class="inputClass"
        :style="inputStyle"
        :id="inputId"
        :value="value"
      />

      <input
        class="form-control"
        v-if="controlType === 'numeric'"
        @keypress="$root.isNumberKey"
        v-bind="$attrs"
        v-on="{...$listeners,input: event => $emit('input', event.target.value)}"
        :class="inputClass"
        :style="inputStyle"
        :id="inputId"
        :value="value"
      />

      <textarea
        class="form-control"
        v-if="controlType === 'textarea'"
        :rows="tex_area_rows"
        v-bind="$attrs"
        v-on="{...$listeners,input: event => $emit('input', event.target.value)}"
        :class="inputClass"
        :style="inputStyle"
        :id="inputId"
        :value="value"
      ></textarea>
      <span style="color: red">
        <slot name="error"></slot>
      </span>
    </div>
  </div>
</template>
<script>
export default {
  name: "app_input",
  model: {
    prop: "value",
    event: "input"
  },
  props: {
    controlType: {
      type: String,
      default: "input"
    },
    value: {
      default: ""
    },
    divClass: {
      type: String,
      default: ""
    },
    innerDivClass: {
      type: String,
      default: ""
    },
    inputClass: {
      type: String,
      default: ""
    },
    tex_area_rows: {
      type: Number,
      default: 2
    },
    inputStyle: {
      type: String,
      default: ""
    },
    useLabel: {
      type: Boolean,
      default: true
    },
    labelFor: {
      type: String,
      default: ""
    },
    inputId: {
      type: String,
      default: ""
    }
  }
};
</script>
