<template>
  <modal :isOpen="isOpen" @closeModal="$emit('closeModal')">
    <template slot="modal_header">
      <h5 class="modal-title">{{ modalFor ? "Update" : "Add New" }} Category</h5>
    </template>
    <template slot="modal_body">
      <app-input
        placeholder="Name"
        labelFor="add_category"
        inputId="add_category"
        v-bind="$attrs"
        v-model="formData.title"
        v-on="{...$listeners,input: event => $emit('title', formData.title)}"
      >
        <slot slot="label">
          Category Name
          <span style="color: red">*</span>
        </slot>
      </app-input>
      <app-input
        placeholder="Description..."
        controlType="textarea"
        labelFor="note"
        inputId="note"
        v-bind="$attrs"
        v-model="formData.description"
        v-on="{...$listeners,input: event => $emit('description', formData.description)}"
      >
        <slot slot="label">Description</slot>
      </app-input>
    </template>
    <template slot="modal_footer">
      <close-modal-button @click="$emit('closeModal')">Close</close-modal-button>
      <app-submit-button
        id="add_button"
        @click="modalFor ? $emit('updateData') : $emit('saveData')"
        :disabled="!formData.title"
        :style="
                    !formData.title ? 'cursor: not-allowed' : 'cursor: pointer'
                "
      >{{ modalFor ? "Update" : "Save" }}</app-submit-button>
    </template>
  </modal>
</template>
<script>
export default {
  name: "category_modal_component",
  props: {
    modalFor: {
      type: Boolean,
      default: false
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    onUpdate: {
      type: Object
    }
  },
  watch: {
    onUpdate() {
      this.formData = this.onUpdate;
    }
  },
  data() {
    return {
      formData: {}
    };
  }
};
</script>
