<template>
  <div v-show="isOpen">
    <div class="modal-mask" :style="{zIndex: zIndex}">
      <div class="modal-wrapper">
        <div :class=" fullScreen ? 'zero_padding_margin' : 'modal-dialog'" role="document">
          <div class="modal-content" :style="fullScreen ? 'min-height: 100vh' : ''">
            <div class="modal-header">
              <slot name="modal_header"></slot>
              <span class="close" @click="$emit('closeModal')">&times;</span>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <slot name="modal_body"></slot>
              </div>
            </div>
            <div class="modal-footer">
              <slot name="modal_footer"></slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    fullScreen: {
      type: Boolean,
      default: false
    },
    zIndex: {
      type: Number,
      default: 99999999999
    }
  }
};
</script>
<style scoped>
.modal-mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.zero_padding_margin {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
</style>
